@import "../../styles/index.scss";

header {
  text-align: center;
  padding: 2rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: $LightBlue;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: $white;
  }
}

main {
  padding: 2rem;

  section {
    margin-bottom: 3rem;

    h2 {
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 1rem;
      color: $LightBlue;
    }

    p {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.6;
      margin-bottom: 1rem;
      color: $white;

      span {
        font-size: 1.4rem;
        font-weight: 600;
        color: $LightBlue;
      }
    }

    a {
      text-decoration: none;
      color: $LightGreen;
      font-size: 1.2rem;
      font-weight: 300;
      margin-left: 0.3rem;

      &:hover {
        text-decoration: underline;
        color: $LightBlue;
      }
    }
  }

  @media screen and (max-width: 768px) {
    section {
      h2 {
        font-size: 1.8rem;
      }

      p {
        font-size: 1.1rem;
        margin-bottom: 0.8rem;
      }
    }
  }

  @media screen and (max-width: 480px) {
    section {
      h2 {
        font-size: 1.6rem;
      }

      p {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
