@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans", sans-serif;
}

$DarkBlue: #0d253f;
$LightBlue: #01b4e4;
$LightGreen: #90cea1;
$lightGray: #cccccc;
$darkGray: #464646;
$white: #fff;
$Dark: #1a1a1a;
$Yellow: #c7c778;
$Red: #ff0000;
body {
  background-color: $Dark;
}
