@import "../../styles/index.scss";

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  text-align: center;

  h2 {
    font-size: 3rem;
    color: $Red;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    color: $lightGray;
  }

  a {
    font-size: 1.2rem;
    color: $LightBlue;
    text-decoration: none;
    margin-top: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
